.tagsInput {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 4.8rem;
	width: 48rem;
	padding: 0 .8rem;
	border: .1rem solid rgb(214, 216, 218);
	border-radius: .6rem;
}

.tagsInput:focus-within {
	border: .1rem solid #0052cc;
}

input {
	flex: 1;
	border: none;
	height: 4.6rem;
	font-size: 1.4rem;
	padding: .4rem 0 0 0;
}

input:focus {
  	outline: transparent;
}

#tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: .8rem 0 0 0;
}

.tag {
	width: auto;
	height: 3.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 .8rem;
	font-size: 1.4rem;
	list-style: none;
	border-radius: .6rem;
	margin: 0 .8rem .8rem 0;
	background: #0052cc;
}

.tag .tag-title {
  	margin-top: .3rem;
}

.tag .tag-close-icon {
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	line-height: 1.6rem;
	text-align: center;
	font-size: 1.4rem;
	margin-left: .8rem;
	color: #0052cc;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

@media screen and (max-width: 567px) {
	.tagsInput {
		width: calc(100vw - 3.2rem);
	}
}
