@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.splashScreenAlt {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  /* align-items: center; */

  height: calc(100vh - 8rem);
  width:100%;
	overflow: hidden;
  /* background-image: linear-gradient(45deg,#d74838 30%, #eb9b2a); */
  background-color: #bae7ee;
  color: #071b2e;


}

.splashScreenAlt__leftPanel {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container_titulo {
  margin-bottom: 2rem;
}

.container_slogan {
  margin-bottom: 5rem;
}

.splashScreenAlt__subTitulo {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
  color: #fa6602;

}

.splashScreenAlt__titulo {
  font-size: 4rem;

}

.slogan {
  font-size: 1.8rem;
}



.splashScreenAlt__mujer-modelo {
  display: block;
  height: 56rem;
  /* Nota este align-self me gusta mas en flex-end pero en iPad de ve mal
  y se ve mejor con center, en todo lo demas el flex-end se ve mejor */
  /* align-self: center; */
  align-self: flex-end;
  pointer-events: none;
}

.hero__loginButton {
  width: 16rem;
  background-color: #faba09; 
  color: #071b2e;
  cursor: pointer;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  border-radius: 10rem;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  position: relative;

  align-self: center;
}

/* 980px */
@media (max-width:61.25em) {

  .splashScreenAlt {
    
    justify-content: space-evenly;
    gap: 0rem;
  }

  .laptops {
    padding-left: 3rem;
  }
}

/* 880px */
@media (max-width:55em) {

  .splashScreenAlt__subTitulo {
    font-size: 1rem;
  }
  
  .splashScreenAlt__titulo {
    font-size: 3.4rem;
  }
  
  .slogan {
    font-size: 1.6rem;
  }
  
}

/* 680px */
@media (max-width:42.5em) {

  .splashScreenAlt__mujer-modelo {
    height: 50rem;
    /* align-self: flex-end; */
    align-self: center;
  }

  .splashScreenAlt__leftPanel {
    padding-left: 5rem;
  }
}

/* 580px */
@media (max-width:36.25em) {
  .hero__loginButton {
    width: 13rem;
    font-size: 1.4rem;
  }

  .splashScreenAlt__leftPanel {
    padding-left: 9rem;
  }
  
  .splashScreenAlt__titulo {
    font-size: 3rem;
  }
}


/* 480px */
@media (max-width:30em) {

  .splashScreenAlt {
    flex-direction: column;
    align-items: center; 
    /* justify-content: flex-start; */
  } 
  

  .splashScreenAlt__leftPanel {
    padding-left: 0;
    margin-top: 1.2rem; 
    /* padding-top: 1.8rem; */
    margin-bottom: 2rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }

  .laptops {
    padding-left: 0rem;
  } 
  
  .hero__loginButton {
    display: none;
  }

  .splashScreenAlt__mujer-modelo {
    align-self: flex-end;
  }  

  .container_slogan {
    margin-bottom: 1rem;
  }

  .splashScreenAlt__subTitulo {
    display: none;
  }

}
