.videoSearch {
    height: calc(100vh - 8rem);
    overflow-x: hidden;
    flex: 4;
}

.videoSearch--container {
    margin-bottom: 4rem;
}

.videoSearch--tagsInput {
    /* margin-bottom: 2rem; */
    /* width: 28rem; */
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}


.videoSearch--videoSeleccionado {
    margin-bottom: 7rem;
}

.videoSearch--button {
    width: 10rem;
    padding: .7rem 1rem;
    border: none;
    border-radius: .3rem;
    color: white;
    cursor: pointer;
  
    background: #197fec;
    border: 1px solid; 
    border-color: #225184 #639bd6;
  
    font-size: 1.4rem;
    font-weight: 400;
} 

.videoSeacrh--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}