.pageNotFound {
  display: flex;
  justify-content: space-around;
  gap: 3rem;

  height: calc(100vh - 8rem);
  width:100%;
	overflow: hidden;
  background-color: #bae7ee;
  color: #071b2e;

  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/public/img/website/Offline.webp");

  background-size: cover;
  background-position: center;
}

.pageNotFound__leftPanel {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pageNotFound_container_titulo {
  margin-bottom: 2rem;
}

.pageNotFound_container_slogan {
  margin-bottom: 5rem;
}

.pageNotFound__subTitulo {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
  color: #fa6602;

}

.pageNotFound__titulo {
  font-size: 4rem;
}

.pageNotFound_slogan {
  font-size: 1.8rem;
}

.pageNotFound__loginButton {
  width: 16rem;
  background-color: #faba09; 
  color: #071b2e;
  cursor: pointer;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  border-radius: 10rem;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  position: relative;

  align-self: center;
}

/* 980px */
@media (max-width:61.25em) {

  .pageNotFound {
    
    justify-content: space-evenly;
    gap: 0rem;
  }

  .pageNotFound__laptops {
    padding-left: 3rem;
  }
}

/* 880px */
@media (max-width:55em) {

  .pageNotFound__subTitulo {
    font-size: 1rem;
  }
  
  .pageNotFound__titulo {
    font-size: 3.4rem;
  }
  
  .pageNotFound_slogan {
    font-size: 1.6rem;
  }
  
}

/* 680px */
@media (max-width:42.5em) {

  /* .pageNotFound__Offline_NotFound {
    height: 50rem;
    align-self: center;
  } */

  .pageNotFound__leftPanel {
    padding-left: 5rem;
  }
}

/* 580px */
@media (max-width:36.25em) {
  .pageNotFound__loginButton {
    width: 13rem;
    font-size: 1.4rem;
  }

  .pageNotFound__leftPanel {
    padding-left: 9rem;
  }
  
  .pageNotFound__titulo {
    font-size: 3rem;
  }
}


/* 480px */
@media (max-width:30em) {

  .pageNotFound {
    flex-direction: column;
    align-items: center; 
    /* justify-content: flex-start; */
  } 
  

  .pageNotFound__leftPanel {
    padding-left: 0;
    margin-top: 1.2rem; 
    /* padding-top: 1.8rem; */
    margin-bottom: 2rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }

  .pageNotFound__laptops {
    padding-left: 0rem;
  } 
  
  .pageNotFound__loginButton {
    display: none;
  }

  /* .pageNotFound__Offline_NotFound {
    align-self: flex-end;
  }   */

  .pageNotFound_container_slogan {
    margin-bottom: 1rem;
  }

  .pageNotFound__subTitulo {
    display: none;
  }

}
