.forgotPassword {
  flex: 4;
  padding: 2rem 3rem;
  overflow: hidden;
}

.forgotPassword__title {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  padding: 1rem 0;
}

.labelCorreoElectronico {
  font-size: 1.8rem;
}

.formForgotPassword {
  /* FLEX */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  /* DIMENSIONES */
  height: 5.6rem;
  width: 100%;

  /* ESTILIZAR */
  font-size: 1.6rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.inputUserForgotPassword {
  padding: 1.2rem;
  font-size: 2rem;
  width: 50rem;
  /* border-radius: 5rem; */
  /* border-width: .25rem; */
  /* border: none; */
  outline: none;
}

.btnForgotPassword {
  width: 20rem;
  height: 4rem;
  border: none;

  color: white;
  padding: .7rem 1rem;
  font-weight: 600;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.6rem;

  overflow: hidden;
  position: relative;


  background: #0164ce;
  border: 1px solid; 
  border-color: #225184 #639bd6 #023368;
  font-weight: 400;
}

.btnForgotPassword:after {
  content: "";
  background: #05fb05;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  
  margin-left: -180px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all .7s
}

.btnForgotPassword:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.btnForgotPassword:disabled,
.btnForgotPassword[disabled] {
  /* background-color: gray; */
  background-color: #c7c7c7;
  color: #343a40;
  border-color: #c7c7c7;
}


/* 780px */
@media (max-width:48.75em) {

  .inputUserForgotPassword {
    padding: 1rem;
    font-size: 2rem;
    width: 48rem;
  }

  .btnForgotPassword {
    width: 14rem;
  }
}

/* 680px */
@media (max-width:42.5em) {

  .inputUserForgotPassword {
    padding: 1rem;
    font-size: 1.8rem;
    width: 41rem;
  }

  .btnForgotPassword {
    width: 12rem;
  }
}

/* 580px */
@media (max-width:36.25em) {

  .inputUserForgotPassword {
    padding: 1rem;
    font-size: 1.6rem;
    width: 36rem;
  }

  .btnForgotPassword {
    width: 10rem;
  }
}

/* 520px */
@media (max-width:32.5em) {

  .forgotPassword {
    padding: 2rem 1.5rem;
  }

  .formForgotPassword {
    justify-content:space-evenly;
  }
}

/* 480px */
@media (max-width:30em) {

  .forgotPassword {
    padding: 2rem .5rem;
  }

  .formForgotPassword {
    flex-direction: column;
    /* justify-content:space-evenly; */
    height: 12rem;
    align-items: flex-start;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 80%;
  }

  .forgotPassword__title {
    margin-left: 1rem;
  }

  .labelCorreoElectronico {
    font-size: 1.25rem;
  }

  .inputUserForgotPassword {
    padding: 1rem;
    font-size: 1.2rem;
    width: 30rem;
  }

  .btnForgotPassword {
    /* width: 8rem; */
    height: 3.8rem;
    /* font-size: 1rem; */
  }
}