.sidebar {
  height: calc(100vh - 8rem);
  flex: 2.3;
  align-self: flex-start;
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 1rem;

  padding-right: 2.4rem;
  overflow-x: hidden;
}

.sidebarWrapper {
  /* padding: .5rem; */
  color: #343a40;
}

.sidebarTitle {
  font-size: 1.8rem;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  /* padding: .5rem; */
  padding-left: .5rem;
}

.sideBar__link {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex;
  align-items: center;
}

.sideBar__link-active {
  background-color: rgb(240, 240, 255);
  padding: .2rem;
  border-radius: 1rem;
}

.sidebarListItem {
  padding: .2rem;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.6rem;

  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.sidebarListItem--tags {
  font-size: 1.4rem;

  background-color: #0052cc;
  color: #fff;

  margin-bottom: .4rem;
  border-radius: .6rem;
  padding: 0 .8rem;
}

.sidebarListItem:not(:last-child) {
  margin-bottom: 1rem;
}

.sidebarListItem:hover,
.sidebarListItem:active {
  background-color: rgb(240, 240, 255);
}


.sidebarIcon{
    margin-right: .5rem;
    /* font-size: 1.6rem !important; */
    font-size: 1.8rem;
    color: rgb(117, 97, 97);
    color: rgb(50, 52, 84);
}

.iconos__placeOrder {
  color: #f0c14b;
  font-size: 2rem !important;
}


.sidebarListItem--video-thumbnail {
  width: 24rem;
  /* height: 24rem; */
  border-radius: .7rem;
}

.sidebar--myTitle {
  font-size: 1.4rem;
  margin-top: .2rem;
  margin-bottom: .4rem;
}

.sidebar--myTitle span {
  font-weight: 600;
}

.sidebarListItem--videoContainer {
  position: relative;
}

.sidebarListItem--video-duration {
  font-size: 1.35rem;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  padding: .1rem .3rem;
  border-radius: .5rem;
  position: absolute;
  bottom: .7rem;
  /* bottom: calc(100% - 95%); */
  right: .4rem;
}


/* 1000px */
@media (max-width:62.5em) {
  .sidebar {
    display: none;
  }
}