.resetPassword {
  flex: 4;
  height: calc(100vh - 8rem);
}


.main-resetPassword {
  /* background-color: #f7f7f7; */
  padding: 8rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.form-resetPassword {
  margin: 0 auto;
  max-width: 55rem;

  /* ESTILIZAR */
  background-color: rgba(255, 255, 255, .65);
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  border-radius: 5px;

  padding: 5rem 7rem;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;

  /* ESTILIZAR */
  background-image: -webkit-gradient(
    linear, left top, right top, from(#7dd56f), to(#28b487));

  background-image: linear-gradient(to right, #7dd56f, #28b487);

  -webkit-background-clip: text;
  background-clip: text;
  
  color: transparent;

  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.form__button {
  display: flex;
  justify-content: center;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: .8rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-weight: 400;

  /* ANIMATION */
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);

  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);

  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: #e1bc02;
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn--green {

  background-color: #faba09; 
  color: #071b2e;

  border: 1px solid;
  border-color:  #838d12;
}

.btn--green::after {
  background: #faba09;
}

.btn--green:disabled,
.btn--green[disabled] {
  background-color: #c7c7c7;
  border-color: #c7c7c7;

  color: #222;
  font-size: 1.3rem;
}

/* 580px */
@media (max-width:36.25em) {

  .form-resetPassword {
    padding: 5rem 3rem;   
  }
}

/* 480px */
@media (max-width:30em) {
  .main-resetPassword {
    padding: 2rem 2rem;
  }
  
  .heading-secondary {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .form-resetPassword {   
    padding: 2rem 3rem;
  }

}